.alert-box {
    position: fixed;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    border: black solid;
    background: white;
    display: flex;
    flex-direction: column;
}
.alert-box-ie {
    position: absolute;
}
.alert-box .title {
    color: white;
    background: gray;
    font-weight: 500;
    align-items: flex-start;
    padding: 2px;
}
.alert-box-ie .title {
    height: 22px;
}
.alert-box .title span {
    padding-left: 5px;
    float: left;
}
.alert-box .x {
    background: red;
    color: white;
    float: right;
}
.alert-box .description {
    flex: 1;
    margin: 5px;
    overflow: auto;
}
.grayed-out {
    background-color: rgba(128, 128, 128, 0.5);
}
.prompt-box {
    border: black solid 1px;
    padding: 5px;
    background: white;
    margin-top: 25vh;
    max-height: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
/* This moves the input box to the top on small screen devices */
@media only screen and (max-device-height: 480px) {
    .prompt-box {
        margin-top: 0;
    }
}
@media only screen and (max-height: 360px) {
    .prompt-box {
        margin-top: 0;
    }
}
.prompt-box .yesno, .prompt-box input {
    margin: 5px;
}
.prompt-box .description {
    margin: 5px;
    text-align: center;
    overflow-y: auto;
}
.prompt-box .yesno {
    display: flex;
    justify-content: space-around;
}
.prompt-box .input {
    display: flex;
}
.prompt-box .input input {
    width: 100%;
}
.prompt-box-ie {
    margin-left: 25%;
    margin-right: 25%;
}
.prompt-box-ie * {
    text-align: center;
}
.prompt-box-ie .input input {
    width: auto;
}
.center-of-screen {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.center-of-screen {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
